@import "tailwindcss";
@import "../lib/theme/brand-theme.css";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-brand-50:  oklch(0.98 0.02 250);
  --color-brand-100: oklch(0.94 0.04 250);
  --color-brand-200: oklch(0.88 0.07 250);
  --color-brand-300: oklch(0.80 0.10 250);
  --color-brand-400: oklch(0.72 0.13 250);
  --color-brand-500: oklch(0.64 0.16 250); /* base corporativo */
  --color-brand-600: oklch(0.56 0.15 250);
  --color-brand-700: oklch(0.48 0.13 250);
  --color-brand-800: oklch(0.40 0.11 250);
  --color-brand-900: oklch(0.34 0.09 250);
  --color-brand-950: oklch(0.24 0.07 250);
}